<!-- <!DOCTYPE html>
<html>
<head>
    <title>Admin Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        body {
            background-color: #f0f0f0;
        }
        .container {
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3>Admin Registration</h3>
        <form method="post">
            {% csrf_token %}
            {{ admin_form.as_p }}
            <button class="btn waves-effect waves-light" type="submit">Register</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.AutoInit();
        });
    </script>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h2>Admin Register</h2>
    {% if form_errors %}
    <div class="red-text">
        <p>Form errors:</p>
        <ul>
            {% for error in form_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
    <form method="post">
        {% csrf_token %}
        {{ admin_form.as_p  }}
        <button type="submit">Register</button>
    </form>
</body>
</html>




