{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block content %}
    <h1 class="center-align">Products</h1>
    <div class="row">
        <!-- Display a scrollable list of products -->
        {% for product in products %}
        <div class="col s12 m6 l4">
            <div class="card product-card" style="background-image: url('{{ product.product_image}}'); background-size: cover;">
                {% if not product.product_image %}
                Image not found!
            {% endif %}
                <div class="card-content text-white">
                    <span class="card-title style="color: white;"><b>{{ product.name }}</b></span>
                    <p><b>{{ product.description }}</b></p>
                    <p><b>Price: ${{ product.unit_price }}</b></p>
                </div>
                <div class="card-action">
                    <button class="waves-effect waves-light btn add-to-cart-button" data-product-id="{{ product.id }}">Add to Cart</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        // Add a click event listener to all "Add to Cart" buttons
        const addToCartButtons = document.querySelectorAll('.add-to-cart-button');
        addToCartButtons.forEach(button => {
            button.addEventListener('click', function () {
                const productId = this.getAttribute('data-product-id');
                addToCart(productId);
            });
        });

        // Function to add a product to the cart
        function addToCart(productId) {
            // Send an AJAX request to your server to add the product to the cart
            fetch(`/add_to_cart/${productId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}",
                },
            })
            .then(response => {
                if (response.ok) {
                    alert('Product added to the cart');
                } else {
                    alert('Failed to add the product to the cart');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>

{% endblock %}
